VITE_USER_API_BASE=/api
VITE_PROXY_TARGET=http://127.0.0.1:8080
VITE_WS_PATH=/ws
VITE_AMAP_WEIXIN_KEY=replace_with_amap_weixin_key
VITE_AMAP_WEB_JS_KEY=replace_with_amap_web_js_key
VITE_AMAP_WEB_SECURITY_JS_CODE=replace_with_amap_web_security_code
