<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cook.recipe.mapper.AdminOperationLogMapper">

    <insert id="insertLog" parameterType="com.ruoyi.cook.recipe.domain.AdminOperationLog" useGeneratedKeys="true" keyProperty="id">
        insert into cook_admin_operation_logs (admin_id, biz_type, biz_id, action, before_json, after_json, remark)
        values (#{adminId}, #{bizType}, #{bizId}, #{action}, #{beforeJson}, #{afterJson}, #{remark})
    </insert>

</mapper>
